@font-face {
    font-family: "childrenFall";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/childrenFall/childrenFall.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/childrenFall/childrenFall.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/childrenFall/childrenFall.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/childrenFall/childrenFall.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/childrenFall/childrenFall.ttf") format("truetype");
    font-display: swap;
} 
.childrenFall {
    font-family: "childrenFall";
}